{% load staticfiles %}

<html>
<style>
h1 a {
  color: #FCA205;
  font-family: 'Lobster', cursive;
}

body{
   padding-left: 15px;
}
</style>
 <head>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <like rel="stylesheet" href="{% static 'css/blog.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

   <title>Debbie's Blog</title>
 </head>
 <body>
   body{
     background-color: #1a373a;
      padding-left: 15px;
   }

   <div>
     <h1><a href="">Debbie's Blog</a></h1>
   </div>


{% for post in posts %}
   <div>
     <p>published: {{ post.published_date }}</p>
     <h1><a href="">{{ post.title }}</a></h1>
     <p>{{ post.text|linebreaksbr }}</p>
   </div>
   {% endfor %}

 </body>
 </html>
